:root {
    /* Background */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    /* Color */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* Content */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    /* Border */
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    /* Tipografia */
    --font-Inter: "Inter", sans-serif;

    /* Inter */
    --title: 1.5em 2em var(--font-Inter);
    --label: 1em 1.25em var(--font-Inter);
    --paragraph: 1em 1.25em var(--font-Inter);
    --link: 0.875em 1em var(--font-Inter);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    background-color: var(--background-primary);
    padding-inline: 2em;
}