.show-logo {
    display: none;
}

.hide-logo {
    display: initial;
}

#hero {
    padding-block: 3em;
}

#span-hero {
    color: var(--color-brand);
    font: var(--link);
}

#input {
    /* background-color: yellow; */
}

#input button {
    padding: 0.70em;
    border: none;
    background-color: var(--color-brand);
    border-radius: 8px;
    font: var(--paragraph);
    color: var(--always-white);
    cursor: pointer;
    transition: background-color 0.1s linear;
}

#input button:hover {
    background-color: var(--color-brand-hover);
}

#input input {
    padding: 0.70em;
    border: 2px solid var(--border-primary);
    border-radius: 8px;
    background-color: transparent;
    color: var(--content-tertiary);
    font: var(--paragraph);
    outline: none;
} 

#input input:hover {
    border: 2px solid var(--border-hover);
}

#input input:focus {
    border: 2px solid var(--color-brand);
}