.show-logo {
    display: none;
}

.hide-logo {
    display: initial;
}

#hero {
    padding-block: 3em;
}

#span-hero {
    color: var(--color-brand);
    font: var(--link);
}

.informations {
    gap: 0.50em;
}