.message-delete-show {
    background-color: var(--color-danger);
    padding: 0.80em;
    border-radius: 12px;
    gap: 0.80em;
    margin-block: 2em;
    align-items: center;
    display: flex;
}

.message-delete-hide {
    display: none;
}

.message-delete-show p {
    flex-grow: 1;
    font: var(--label);
    color: var(--always-white);
}

.message-delete-show img:last-child {
    cursor: pointer;
}