#listPurchases {
    max-height: 20em;
    overflow-y: auto;
}

#listPurchases div {
    background-color: var(--background-secondary);
    padding: 1.3em 0.90em;
    border-radius: 8px;
    gap: 0.80em;
    align-items: center;
    cursor: pointer;
}

.border-normal {
    border: 2px solid var(--border-primary);
}

/* #listPurchases div:hover {
    border: 2px solid var(--border-hover);
} */

.border-click {
    border: 2px solid var(--color-brand);
}

#listPurchases div > p {
    flex-grow: 1;
    font: var(--paragraph);
    color: var(--content-secondary);
}

#listPurchases div > span {
    background-image: url(../img/check-box-default.png);
    width: 1.1em;
    height: 1em;
}

.active-checkbox {
    background-image: url(../img/check-box-selected.png);
    width: 1.1em;
    height: 1em;
}

/* #listPurchases div > span:hover {
    background-image: url(../img/check-box-hover.png);
    width: 1.1em;
    height: 1em;
} */

#listPurchases div > img {
    width: 1em;
    height: 1em;
}