
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    gap: 1em;
    max-width: 500px;
    box-shadow: 0 1px 8px black;
    padding: 2em;
    border-radius: 8px;
    margin-block: 3em;
}

label {
    display: grid;
    font-size: 1.5em;
    gap: 0.50em;
}

input {
    padding: 0.40em;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
}

button {
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1em;
    background-color: rgb(55, 106, 216);
    cursor: pointer;
    margin-block: 1em;
}